<a class="navbar-brand", href="/admin_gq">AdminGQ</a>
<%= subnav_link(@conn, "Logs",  "/admin_gq/logs") %>
<%= subnav_link(@conn, "Urls",  "/admin_gq/urls") %>
<%= subnav_link(@conn, "Stats", "/admin_gq/stats") %>
