_build/
/_build/
/cover/
/deps/
/doc/
/.fetch
*.ez
.elixir_ls/
/.elixir_ls/
/tmp/
/node_modules
/assets/node_modules
/installer/_build
/installer/tmp
/installer/doc
/installer/deps
erl_crash.dump
*.plt
*.plt.hash
rel/
