<h3>RESOURCES</h3>
<ul>
  <li>
    <a href="https://bugmark.net" target="_blank">
      Bugmark Website
    </a>
  </li>
  <li>
    <a href="https://bmxdoc.bugmark.tech" target="_blank">
      V2 Developer Documentation
    </a>
  </li>
</ul>
